<!doctype html>
<html>
<head>
    <title>Picture selection</title>
</head>
<body>
    <center>

        <h1>Upload an Image</h1>
        To create your own images go to the <a href="/simple">MIXer</a>
        <form method="POST" enctype="multipart/form-data" style="padding: 20px;">
        <input type="file" name="image" accept="image/*" required>
        <input type="submit" value="Upload">
        </form>

        <hr style="width:50%;text-align:center;">

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th style="padding: 10px;">Action</th>
                <th style="padding: 10px;">Picture</th>
                <th style="padding: 10px;">Name</th>
                <th style="padding: 10px;">Removal</th>
            </tr>
            [PICTURE-ROWS]
            </table>
    </center>
</body>
</html>
