<tr>
    <td style="padding: 10px;"><form method="post" action="/"><input type="submit" value="START" name="start-[PICTURE-NAME]" style="color: green;"/></form></td>
    <td style="padding: 10px;"><img src="[PICTURE-PATH]" alt="Picture preview", style="height: 200px;"></td>
    <td style="padding: 10px;"><p>[PICTURE-NAME]</p></td>
    <td style="padding: 10px;"><form method="post" action="/"><input type="submit" value="DELETE" name="delete-[PICTURE-NAME]" style="color: orangered;"/></form></td>
</tr>