<!DOCTYPE html>
<html>

<head>
    <title>Simple color mixer</title>
</head>

<body>
    <center>
        <h1>My color mixer</h1>
        <!-- add color -->
        <form method="POST">
            <input type="color" name="color">
            <input type="submit" name="add_color" value="Add color">
        </form>

        <!-- TODO show added colors with delete button -->
        {% if colors|length > 0 %}
        Added colors:
        {% endif %}
        <table>
            {% for i, color in colors %}
                <tr>
                    <td>
                        <div style="width: 50px; height: 50px; background-color: {{ color }};"></div>
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="color" value="{{ i }}">
                            <input type="submit" name="delete_color" value="x">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <!-- horizontal/vertical -->
        <!-- continous/hard edges -->
        {% if image_exists %}
            <form method="post">
                <input type="submit" name="rotate90" value="Flip">
            </form>

            <form method="post">
                <input type="submit" name="grad" value="Gradient/discrete">
            </form>

            <!-- show preview -->
            <form method="POST"">
                <input type="submit" name="start" value="START">
            </form>
            <img src="data:image/png;base64,{{ image }}" alt="Array Image">
        {% endif %}

        <!-- save preview to images -->

    </center>
</body>

</html>